@media (min-width: 768px) {
    .news-input {
      width: 60%;
    }
  }

  .image-size {
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
  
  i.bi-arrow-up-square {
    color: rgb(139, 148, 11);
  }

  body {
    background-color: #f8f9fa;
    color: #343a40;
  }

  body.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
  }
  
  :root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme{
  --primary-color:#212121;
  --secondary-color:#edf2fc;
}
 
.bi {
  color: var(--secondary-color);
}